<div id="cover-image" class="w-full {{ if cover_image }}h-almost-screen{{ else }}mb-60{{ /if }} overflow-hidden bg-cover bg-center" style="background-image: url('{{ cover_image }}{{ url }}{{ /cover_image }}')">
</div>

<div class="container p-5 mx-auto">

    <span class="aspect-[4/5] max-h-80 mx-auto flex flex-col text-center p-4 my-5 relative overflow-hidden transition-all -mt-20 mb-10 {{ if multiple_day_event and event_end | is_before:now and !event_end | is_today or !multiple_day_event and event_start | is_before:now and !event_start | is_today }}grayscale{{ /if }}" style="background: radial-gradient(circle at center 120%, {{gradient_color_bottom}} 10%, {{gradient_color_middle}} 40%, {{gradient_color_middle}} 50%, {{gradient_color_top}} 100%);">
        <span class="flex-none justify-self-start text-2xl leading-tight mb-3">
            {{ if multiple_day_event }}
                {{ if event_end | is_today }}
                    {{ if site=="en" }} Ends today {{ else  }} Končí dnes {{ /if }}
                {{ else }}
                    {{ event_start format="d / m / Y" }} —<br/>{{ event_end format="d / m / Y" }}
                {{ /if }}
            {{ else }}
                {{ if event_start | is_today }}
                    {{ if site=="en" }} Today {{ else  }} Dnes {{ /if }}
                {{ else }}
                    {{ event_start format="d / m / Y" }}
                {{ /if }}
            {{ /if }} 
        </span>
        <span class="flex-auto"></span>
        <span class="flex-none justify-self-end inline-block align-bottom text-blue text-3xl leading-none">
            <h1>{{ event_type }}{{ title }}{{ /event_type }}: {{ title }}</h1>
        </span>
        <span class="flex-none justify-self-end text-xl mt-3 leading-tight">
            {{ if online_event }} Online {{ else  }} {{ location }} {{ /if }}
        </span>
    </span>
    {{ if link_url }} 
        <div class="text-center my-16">
            <a class="text-3xl text-blue after:content-['_↗']" href="{{ link_url }}" target="_blank">{{ link_text }}</a>
        </div>
    {{ /if }}
    <div class="text-3xl md:text-4xl my-24 text-center">
        {{ perex }}
    </div>  
    {{ if video }}
        {{ if video | is_embeddable }}
            <!-- Youtube and Vimeo -->
            <iframe class="w-full aspect-16/9 my-10" src="{{ video | embed_url }}" ...></iframe>
        {{ else }}
            <!-- Other HTML5 video types -->
            <video class="w-full aspect-16/9 my-10" src="{{ video | embed_url }}" ...></video>
        {{ /if }}
    {{ /if }}
    <div id="bard-content" class="prose-xl prose-headings:font-normal prose-p:font-karma prose-ul:list-disc prose-ol:list-decimal prose-blockquote:text-blue prose-blockquote:text-3xl prose-a:text-blue prose-a:underline !leading-snug mx-auto">
        {{ content }}
    </div>
    <div class="prose mt-10 font-greed prose-a:text-blue !leading-snug text-center">
        {{ event_credits }}
    </div>
    {{ if link }} 
        <div class="text-center mt-16">
            <a class="text-3xl text-blue after:content-['_↗']" href="{{ link-section }}">{{ link_text }}</a>
        </div>
    {{ /if }}
</div>